{% extends "base.html" %}

{% block content %}
<main class="main main--about">
  <p>Hey! I’m Shivansh Mishra, a recent computer science graduate with a strong curiosity for all things tech. Over the past few years, I’ve explored various areas of development, and I’ve grown particularly confident working with Python, HTML, CSS, MongoDB, and Flask.</p>

  <p>This portfolio is a space where I share the projects I’ve worked on—each one has taught me something new and pushed me to get better. I’m passionate about learning, whether it’s picking up a new framework or understanding the “why” behind the code. I believe every opportunity is a chance to level up, and that mindset drives the way I approach both work and life.</p>

  <p>When I’m not building something or diving into documentation, you’ll probably find me experimenting with new ideas or thinking about what I can create next. I'm just getting started, and I’m excited about where this journey will take me.</p>
</main>
{% endblock %}