{% extends "base.html" %}

{% block content %}
<main class="main main--contact">
    <dl>
        <div class="contact">
            <dt>Email:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="mailto:mishrashivanshmanoj@gmail.com">
                    mishrashivanshmanoj[at]gmail.com
                </a>
            </dd>
        </div>
        <div class="contact">
            <dt>LinkedIn:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="https://www.linkedin.com/in/shivansh-mishra24" target="_blank">
                    @shivansh-mishra24
                </a>
            </dd>
        </div>
    </dl>
</main>
{% endblock %}